<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
        <servlet-name>taxi-service</servlet-name>
        <servlet-class>core.controller.IndexController</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>taxi-service</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addDriver</servlet-name>
        <servlet-class>core.controller.driver.AddDriverController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addDriver</servlet-name>
        <url-pattern>/driver/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getAllDrivers</servlet-name>
        <servlet-class>core.controller.driver.GetAllDriversController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>getAllDrivers</servlet-name>
        <url-pattern>/driver/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getAllManufacturers</servlet-name>
        <servlet-class>core.controller.manufacturer.GetAllManufacturersController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>getAllManufacturers</servlet-name>
        <url-pattern>/manufacturer/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addManufacturer</servlet-name>
        <servlet-class>core.controller.manufacturer.AddManufacturerController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addManufacturer</servlet-name>
        <url-pattern>/manufacturer/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addCar</servlet-name>
        <servlet-class>core.controller.car.AddCarController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addCar</servlet-name>
        <url-pattern>/car/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getAllCars</servlet-name>
        <servlet-class>core.controller.car.GetAllCarsController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>getAllCars</servlet-name>
        <url-pattern>/cars/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addDriverToCar</servlet-name>
        <servlet-class>core.controller.car.AddDriverToCarController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addDriverToCar</servlet-name>
        <url-pattern>/car/add/driver</url-pattern>
    </servlet-mapping>
</web-app>
